@model Movie

<div class="container mt-5">

    <h1 class="my-4 text-center">
        @Model.Title
        <small class="text-muted">(@Model.ReleaseYear)</small>
    </h1>

    
    <div class="row justify-content-center">
        
        <div class="col-md-8 mb-4 text-center">
            <img src="@Model.ImageUrl" class="img-fluid rounded shadow-lg" alt="@Model.Title">
        </div>

        
        <div class="col-md-4 text-center">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">@Model.Title</h3>
                    <p class="card-text"><b>Author:</b> @Model.Director</p>

                    <h5 class="my-3"><b>Stars:</b></h5>
                    <ul class="list-unstyled">
                        @foreach (var star in Model.Stars)
        {
                        <li><i class="fas fa-star text-warning"></i> @star</li>
        }
                    </ul>

                    <p class="my-3"><b>Release Year:</b> @Model.ReleaseYear</p>

                    @if (ViewBag.IsLoggedIn != null && ViewBag.IsLoggedIn == false)
                    {
                    <button class="btn btn-danger mb-4" data-bs-toggle="modal" data-bs-target="#loginModal">Add to Cart</button>
                    }
                    else
                       {
                    <button class="btn btn-sm btn-success" data-movie-id="@Model.MovieId">Add to Cart</button>
                    }
                </div>
            </div>
        </div>

    </div>

</div>
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModalLabel">Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="cartModalMessage"></p>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        
        $(".btn-success").on("click", function () {
            var movieId = $(this).data("movie-id"); 

            $.ajax({
                url: "/Cart/AddToCart", 
                type: "POST",
                data: { id: movieId }, 
                success: function (response) {
                    
                    $("#cartModalMessage").text(response.message);
                    
                    $("#cartModal").modal("show");
                },
                error: function () {
                    alert("Bir hata oluştu!");
                }
            });
        });
    });
</script>


<script src="https://kit.fontawesome.com/a076d05399.js"></script>

